/* Custom Fonts */
@font-face {
    font-family: "Norse Bold";
    src: url("/fonts/norse-bold.woff2");
    font-weight: bold;
    font-style: normal;
}


/* CSS Custom Properties, i.e, Variables */
:root {
    --body-color: #eee;
}


/* General Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: inherit;
}

a:hover {
    text-decoration: none;
}


/* Form Styles */
.form-container {
    display: flex;
}

.form-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    color: white;

    background: url("/img/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex: 3;
}

.form-sidebar a:hover {
    color: aquamarine;
}

.form-sidebar a:visited {
    color: aqua;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);

    width: 100%;

    margin-top: min(128px, 12.5vh);
    padding: 8px;
}

.sidebar-img {
    width: 80px;
    height: auto;
}

.sidebar-title {
    font-family: 'Norse Bold', 'Times New Roman', Times, serif;
    font-size: 80px;
}

.sidebar-footer {
    margin-bottom: min(16px, 1vh);
}

.form-main {
    flex: 5;
}
